@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-logo: #E32332;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  /* background: repeating-linear-gradient(22.5deg, transparent, transparent 20px, rgba(75, 85, 99, 0.06) 20px, rgba(75, 85, 99, 0.06) 3px, transparent 3px, transparent 8px),
        repeating-linear-gradient(135deg, transparent, transparent 5px, rgba(107, 114, 128, 0.05) 25px, rgba(107, 114, 128, 0.05) 25px, transparent 75px, transparent 75px),
        repeating-linear-gradient(112.5deg, transparent, transparent 2px, rgba(255, 65, 81, 0.04) 2px, rgba(255, 65, 81, 0.04) 3px, transparent 3px, transparent 8px),
        repeating-linear-gradient(157.5deg, transparent, transparent 2px, rgba(255, 41, 55, 0.03) 2px, rgba(255, 41, 55, 0.03) 3px, transparent 3px, transparent 8px); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}

.body-grid{
  background-image: linear-gradient(to right, #f0f0f0 1px, transparent 1px),
       linear-gradient(to bottom, #f0f0f0 1px, transparent 1px),
       radial-gradient(circle 600px at 0% 200px, #d5c5ff, transparent),
       radial-gradient(circle 600px at 100% 200px, #d5c5ff, transparent);
  background-size: 20px 20px, 20px 20px, 100% 100%, 100% 100%;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}